/* https://peter7cole.github.io/cookie-store/ to help with css */

* {
    font-family: Arial, sans-serif;
}

#cookieTable {
    display: flex;
}

main {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table, th, td {
    /* border: 1px solid black; */
    flex: 1;
margin: 20px;
background-color: rgb(3, 165, 116);
padding: 10px;
border: 2px solid rgb(0, 136, 91);

}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    border: 2px solid rgb(0, 136, 91);
    border-radius: 10px;
    color: rgb(34, 34, 34);
}

td {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    padding: 4em 3em 8em 5em !important;
    color: #ffffd6;
    text-shadow: 0px 0px 6px #00ff22;
    background-color: #006d1b;
    font-size: 35px;
    background-image: url("fish.png");
    background-repeat: no-repeat;
    font-family: 'Yellowtail';

}

h3 {
padding: 20px;
    color: #ffffd6;
    text-shadow: 0px 0px 6px #00ff22;
    background-color: #006d1b;
    font-size: 35px;
    margin: 20px;
}

p {
    padding: 10px;
    color: #000000;
    width: fit-content;
    background-color: #77ff99;
    font-size: 15px;
    margin: 10px;
}

form {
    padding: 10px;
    color: #000000;
    width: fit-content;
    background-color: #77ff99;
    font-size: 15px;
    margin: 10px;
}

#add-location {
    font-size: 15px;
}

li {
    padding: 10px;
    color: #000000;
    width: fit-content;
    background-color: #77ff99;
    font-size: 15px;
    margin: 10px;
}

h4 {
    padding: 10px;
    color: #000000;
    width: fit-content;
    background-color: #92ffad;
    font-size: 15px;
    margin: 10px;
}

a {
    padding: 20px;
        color: #ffffd6;
        text-shadow: 0px 0px 6px #00ff22;
        background-color: #006d1b;
        font-size: 25px;
        margin: 20px;
    }

#locations {
    display: flex;

}
#locations p {
    width: fit-content;
    align-items: center;
    margin-left: 3rem;

}


#Seattle {
    /* width: fit-content; */
    background-image: url(shirt.jpg);
}

#Tokyo {
    background-image: url(frosted-cookie.jpg);
}

#Dubai {
    background-image: url(cutter.jpeg);
}
#Paris {
    background-image: url(fish.jpg);
    background-size: cover;
}
#Lima {
    background-image: url(chinook.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    margin-top: 3rem;
/* background-size: cover; */
width: 100%;
}

body {
    /* background-color: rgb(255, 164, 154); */
    width: 100%;

}